In this notebook, we will clean the 2000 data and prepare it for analysis. The same process can be applied across all years.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
year = 2000

In [3]:
datapath = '/Users/samerens/Downloads/' # set to the path where you have the data stored

In [4]:
df = pd.read_csv(datapath + str(year) + 'weatherdata.csv')

In [5]:
df

,Unnamed: 0,station_num,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,maxwind_knt,max_gust_knt,year,...,snow,hail,thunder,tornado,precip_in,precip_flag,max_temp_frnht,min_temp_frnht,STP,snow_depth_in
0,0,697040,0.0,31.3,0.0,7.0,3.9,7.0,0.0,2000,...,0,0,0,0,0.0,I,73.4,46.4,NaN,NaN
1,1,697040,0.0,31.8,0.0,7.0,3.1,4.1,0.0,2000,...,0,0,0,0,0.0,I,71.6,46.4,NaN,NaN
2,2,697040,0.0,31.2,0.0,7.0,4.4,8.0,0.0,2000,...,0,0,0,0,0.0,I,84.2,46.4,NaN,NaN
3,3,697040,61.7,38.5,0.0,7.0,8.0,15.0,0.0,2000,...,0,0,0,0,0.0,I,75.2,48.2,NaN,NaN
4,4,697040,67.3,41.7,0.0,7.0,11.4,16.9,0.0,2000,...,0,0,0,0,0.0,I,78.8,53.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546876,352,163500,61.0,57.9,NaN,3.2,20.6,23.9,25.1,2000,...,0,0,0,0,0.0,NaN,62.6,60.8,NaN,NaN
2546877,353,163500,58.0,47.6,NaN,7.0,0.0,25.1,0.0,2000,...,0,0,0,0,0.0,I,0.0,55.4,NaN,NaN
2546878,354,163500,56.2,48.4,NaN,7.0,14.1,18.1,25.1,2000,...,0,0,0,0,0.0,I,57.2,53.6,NaN,NaN
2546879,355,163500,56.6,41.0,NaN,7.0,13.0,16.9,0.0,2000,...,0,0,0,0,0.0,I,0.0,51.8,NaN,NaN
2546880,356,163500,53.6,48.5,NaN,5.9,7.7,0.0,0.0,2000,...,0,0,0,0,0.0,NaN,57.2,51.8,NaN,NaN

The first thing we notice is a column called `Unnamed: 0` which appears to be a duplicate of the index column. Let's go ahead and drop it.

In [6]:
df = df.drop('Unnamed: 0', axis = 1)

In [7]:
df

,station_num,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,maxwind_knt,max_gust_knt,year,month,...,snow,hail,thunder,tornado,precip_in,precip_flag,max_temp_frnht,min_temp_frnht,STP,snow_depth_in
0,697040,0.0,31.3,0.0,7.0,3.9,7.0,0.0,2000,1,...,0,0,0,0,0.0,I,73.4,46.4,NaN,NaN
1,697040,0.0,31.8,0.0,7.0,3.1,4.1,0.0,2000,1,...,0,0,0,0,0.0,I,71.6,46.4,NaN,NaN
2,697040,0.0,31.2,0.0,7.0,4.4,8.0,0.0,2000,1,...,0,0,0,0,0.0,I,84.2,46.4,NaN,NaN
3,697040,61.7,38.5,0.0,7.0,8.0,15.0,0.0,2000,1,...,0,0,0,0,0.0,I,75.2,48.2,NaN,NaN
4,697040,67.3,41.7,0.0,7.0,11.4,16.9,0.0,2000,1,...,0,0,0,0,0.0,I,78.8,53.6,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546876,163500,61.0,57.9,NaN,3.2,20.6,23.9,25.1,2000,12,...,0,0,0,0,0.0,NaN,62.6,60.8,NaN,NaN
2546877,163500,58.0,47.6,NaN,7.0,0.0,25.1,0.0,2000,12,...,0,0,0,0,0.0,I,0.0,55.4,NaN,NaN
2546878,163500,56.2,48.4,NaN,7.0,14.1,18.1,25.1,2000,12,...,0,0,0,0,0.0,I,57.2,53.6,NaN,NaN
2546879,163500,56.6,41.0,NaN,7.0,13.0,16.9,0.0,2000,12,...,0,0,0,0,0.0,I,0.0,51.8,NaN,NaN
2546880,163500,53.6,48.5,NaN,5.9,7.7,0.0,0.0,2000,12,...,0,0,0,0,0.0,NaN,57.2,51.8,NaN,NaN

Much better. Scrolling over to the right, we can see a lot of `NaN` values in the `SNDP`, `STP`, and `WBAN` columns. Let's take a closer look at what's going on.

In [8]:
df.isna().sum()

station_num             0
temp_ft                 9
dewpt_ft            60385
slp_mb             573416
visib_mi           306440
wind_knt            15619
maxwind_knt         16454
max_gust_knt       934156
year                    0
month                   0
day                     0
fog                     0
rain                    0
snow                    0
hail                    0
thunder                 0
tornado                 0
precip_in               0
precip_flag        224046
max_temp_frnht          0
min_temp_frnht          0
STP               1344215
snow_depth_in     1825721
dtype: int64

In [9]:
df.isna().sum().sum() / df.size

0.09048511732073722

Yikes! 9% of the data is NaNs. We will drop the columns that have NaNs and keep the ones that don't. However, first let's replace the NaNs in the `temp_ft` with zero because there are only a few of those.

In [10]:
df['temp_ft'] = df['temp_ft'].fillna(0)

In [11]:
df = df.drop(df.columns[df.isna().sum() > 0], axis = 1)

In [12]:
df

,station_num,temp_ft,year,month,day,fog,rain,snow,hail,thunder,tornado,precip_in,max_temp_frnht,min_temp_frnht
0,697040,0.0,2000,1,1,0,0,0,0,0,0,0.0,73.4,46.4
1,697040,0.0,2000,1,2,0,0,0,0,0,0,0.0,71.6,46.4
2,697040,0.0,2000,1,3,0,0,0,0,0,0,0.0,84.2,46.4
3,697040,61.7,2000,1,4,0,0,0,0,0,0,0.0,75.2,48.2
4,697040,67.3,2000,1,5,0,0,0,0,0,0,0.0,78.8,53.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546876,163500,61.0,2000,12,27,1,0,0,0,0,0,0.0,62.6,60.8
2546877,163500,58.0,2000,12,28,0,0,0,0,0,0,0.0,0.0,55.4
2546878,163500,56.2,2000,12,29,0,0,0,0,0,0,0.0,57.2,53.6
2546879,163500,56.6,2000,12,30,0,0,0,0,0,0,0.0,0.0,51.8
2546880,163500,53.6,2000,12,31,1,0,0,0,0,0,0.0,57.2,51.8

Much better. We still have 14 columns, so that should be enough to do some interesting analysis. We can come back later and try to find a more elegant way to handle the NaNs, perhaps through some sort of inputation. However, this is good enough for now.

One other thing we notice is some zeros that look out of place in the `temp_ft` column. While zero degrees Fahrenheit is a valid temperature, the placement of the values suggests that they may be filling in for missing data. Let's go ahead and drop all the rows where `temp_ft` is zero.

In [13]:
df = df[df['temp_ft'] != 0]

In [14]:
df

,station_num,temp_ft,year,month,day,fog,rain,snow,hail,thunder,tornado,precip_in,max_temp_frnht,min_temp_frnht
3,697040,61.7,2000,1,4,0,0,0,0,0,0,0.0,75.2,48.2
4,697040,67.3,2000,1,5,0,0,0,0,0,0,0.0,78.8,53.6
5,697040,67.9,2000,1,6,0,0,0,0,0,0,0.0,80.6,53.6
6,697040,56.8,2000,1,7,0,0,0,0,0,0,0.0,66.2,50.0
7,697040,60.0,2000,1,8,0,0,0,0,0,0,0.0,71.6,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2546876,163500,61.0,2000,12,27,1,0,0,0,0,0,0.0,62.6,60.8
2546877,163500,58.0,2000,12,28,0,0,0,0,0,0,0.0,0.0,55.4
2546878,163500,56.2,2000,12,29,0,0,0,0,0,0,0.0,57.2,53.6
2546879,163500,56.6,2000,12,30,0,0,0,0,0,0,0.0,0.0,51.8
2546880,163500,53.6,2000,12,31,1,0,0,0,0,0,0.0,57.2,51.8

Much better, and we still have over 200K rows. Nothing else stands out as being obviously invalid, so let's go ahead and save the data to a csv file so that we can analyze it later.

In [15]:
df.to_csv(datapath + str(year) + 'weatherdataclean.csv', index = False)

And we're done!