In this notebook, we will clean the 2000 data and prepare it for analysis. The same process can be applied across all years.

In [1]:
import pandas as pd

In [2]:
year = 2000

In [3]:
datapath = '/Users/samerens/Documents/GitHub/gsod-analysis/data/' # set to the path where you have the data stored

In [4]:
df = pd.read_csv(datapath + str(year) + '_dir/' + str(year) + 'weatherdata.csv')

In [5]:
df

,Unnamed: 0,station_num,year,month,day,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,...,hail,thunder,tornado,max_temp_frnht,min_temp_frnht,precip_in,precip_flag,SNDP,STP,WBAN
0,0,548360,2000,1,1,0.0,35.7,1021.7,4.1,0.0,...,0,0,0,44.2,0.0,0.01,G,NaN,NaN,NaN
1,1,548360,2000,1,2,35.1,11.8,1023.3,8.1,3.6,...,0,0,0,45.1,27.0,0.00,D,NaN,NaN,NaN
2,2,548360,2000,1,3,35.8,25.4,1021.8,0.0,4.7,...,0,0,0,43.3,25.5,0.00,D,NaN,NaN,NaN
3,3,548360,2000,1,4,38.6,37.6,0.0,2.5,4.2,...,0,0,0,40.8,33.1,0.33,G,NaN,NaN,NaN
4,4,548360,2000,1,5,35.0,33.3,0.0,3.3,2.5,...,0,0,0,38.5,31.3,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130510,360,725450,2000,12,26,11.3,0.0,1036.0,0.0,6.4,...,0,0,0,18.0,7.0,0.00,I,NaN,NaN,NaN
130511,361,725450,2000,12,27,2.1,-3.1,1028.5,6.2,6.7,...,0,0,0,12.0,-7.1,0.00,D,NaN,NaN,NaN
130512,362,725450,2000,12,28,10.3,5.2,1024.4,5.1,8.4,...,0,0,0,15.8,6.1,0.04,B,NaN,NaN,NaN
130513,364,725450,2000,12,30,13.3,10.0,1022.0,4.8,14.3,...,0,0,0,16.0,10.4,0.00,D,NaN,NaN,NaN
130514,365,725450,2000,12,31,10.2,7.1,1026.5,3.6,0.0,...,0,0,0,12.0,8.6,0.00,H,NaN,NaN,NaN

The first thing we notice is a column called `Unnamed: 0` which appears to be a duplicate of the index column. Let's go ahead and drop it.

In [6]:
df = df.drop('Unnamed: 0', axis = 1)

In [7]:
df

,station_num,year,month,day,temp_ft,dewpt_ft,slp_mb,visib_mi,wind_knt,maxwind_knt,...,hail,thunder,tornado,max_temp_frnht,min_temp_frnht,precip_in,precip_flag,SNDP,STP,WBAN
0,548360,2000,1,1,0.0,35.7,1021.7,4.1,0.0,0.0,...,0,0,0,44.2,0.0,0.01,G,NaN,NaN,NaN
1,548360,2000,1,2,35.1,11.8,1023.3,8.1,3.6,5.8,...,0,0,0,45.1,27.0,0.00,D,NaN,NaN,NaN
2,548360,2000,1,3,35.8,25.4,1021.8,0.0,4.7,0.0,...,0,0,0,43.3,25.5,0.00,D,NaN,NaN,NaN
3,548360,2000,1,4,38.6,37.6,0.0,2.5,4.2,7.8,...,0,0,0,40.8,33.1,0.33,G,NaN,NaN,NaN
4,548360,2000,1,5,35.0,33.3,0.0,3.3,2.5,7.8,...,0,0,0,38.5,31.3,0.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130510,725450,2000,12,26,11.3,0.0,1036.0,0.0,6.4,13.0,...,0,0,0,18.0,7.0,0.00,I,NaN,NaN,NaN
130511,725450,2000,12,27,2.1,-3.1,1028.5,6.2,6.7,11.1,...,0,0,0,12.0,-7.1,0.00,D,NaN,NaN,NaN
130512,725450,2000,12,28,10.3,5.2,1024.4,5.1,8.4,13.0,...,0,0,0,15.8,6.1,0.04,B,NaN,NaN,NaN
130513,725450,2000,12,30,13.3,10.0,1022.0,4.8,14.3,18.1,...,0,0,0,16.0,10.4,0.00,D,NaN,NaN,NaN
130514,725450,2000,12,31,10.2,7.1,1026.5,3.6,0.0,15.0,...,0,0,0,12.0,8.6,0.00,H,NaN,NaN,NaN

Much better. Scrolling over to the right, we can see a lot of `NaN` values in the `SNDP`, `STP`, and `WBAN` columns. Let's take a closer look.

In [8]:
df.isna().sum()

station_num            0
year                   0
month                  0
day                    0
temp_ft                0
dewpt_ft             443
slp_mb             27273
visib_mi             905
wind_knt             727
maxwind_knt          727
GUST               37412
fog                    0
rain                   0
snow                   0
hail                   0
thunder                0
tornado                0
max_temp_frnht         0
min_temp_frnht         0
precip_in              0
precip_flag        18753
SNDP               75707
STP                90764
WBAN              123553
dtype: int64

In [9]:
df.isna().sum().sum() / df.size

0.12012156967909181

Holy smokes! 12% of the data is NaNs. We will drop the columns that have NaNs and keep the ones that don't.

In [10]:
df = df.drop(df.columns[df.isna().sum() > 0], axis = 1)

In [11]:
df

,station_num,year,month,day,temp_ft,fog,rain,snow,hail,thunder,tornado,max_temp_frnht,min_temp_frnht,precip_in
0,548360,2000,1,1,0.0,0,0,0,0,0,0,44.2,0.0,0.01
1,548360,2000,1,2,35.1,0,0,0,0,0,0,45.1,27.0,0.00
2,548360,2000,1,3,35.8,0,0,0,0,0,0,43.3,25.5,0.00
3,548360,2000,1,4,38.6,1,0,0,0,0,0,40.8,33.1,0.33
4,548360,2000,1,5,35.0,1,0,0,0,0,0,38.5,31.3,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130510,725450,2000,12,26,11.3,1,0,0,0,0,0,18.0,7.0,0.00
130511,725450,2000,12,27,2.1,1,0,0,0,0,0,12.0,-7.1,0.00
130512,725450,2000,12,28,10.3,1,1,1,0,0,0,15.8,6.1,0.04
130513,725450,2000,12,30,13.3,1,0,1,0,0,0,16.0,10.4,0.00
130514,725450,2000,12,31,10.2,1,0,1,0,0,0,12.0,8.6,0.00

Much better. We still have 14 columns, so that should be enough to do some interesting analysis. We can come back later and try to find a more elegant way to handle the `NaN`s, perhaps through some sort of inputation. However, this is good enough for now.

Now that that the data is clean, let's save it to a csv file so that we can access it later for analysis.

In [12]:
df.to_csv(datapath + str(year) + '_dir/' + str(year) + 'weatherdataclean.csv', index = False)

And we're done!